body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: #ECEDED;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    border-radius: 100px;
    font-weight: 600;
    font-size: 14px;
    padding: 14px 40px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset();
    clip: rect(0 0 0);
    overflow: hidden;
}

.container {
    width: 1136px;
    margin: 0 auto;
    padding: 0 15px;
}

/*---------HEADER------------*/
.header {
    display: flex;
    justify-content: center;
    padding: 16px 32px 28px;
}

.header-container {
    display: flex;
    justify-content: center;

}

.header-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.header-contact-list {
    display: flex;
    gap: 18px;
    flex-shrink: 0;
}

.header-menu-list {
    display: flex;
    align-items: center;
    margin-right: 160px;
    gap: 24px;
}

.header-logo {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
    color: #111;
    margin-right: 60px;
    display: flex;
    gap: 4px;
    align-items: flex-start;
}

.header-logo-image{
    stroke: #fd9222;
    fill: #FCF1E0
}

.header-logo-cursive {
    font-style: italic;
}

.header-menu-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: -0.02em;
        color: #111;
}

.header-menu-link:focus,
.header-menu-link:hover {
    color: #fd9222;
}

.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
}
.header-contact-link {
    width: 40px;
    height: 40px;
    background-color: #FD9222;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color 500ms;
}

.header-contact-link:hover {
    background-color: aquamarine;
}

.header-contact-icon {
    fill: transparent;
    stroke: #fff;
}

/*----------HERO-----------*/
.hero {
    color: #fff;
    padding-bottom: 80px;
}

.hero-container {
    padding: 380px 40px 40px 40px;
    background-color: #D9D9D9; /*тут буде фон*/
    background-image: 
    linear-gradient(rgba(17, 17, 17, 0.4),rgba(17, 17, 17, 0.4)),
    url(../images/hero-background.jpg);
    border-radius: 30px;
    width: 1136px;
    height: 600px;
}

.hero-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    max-width: 484px;
    margin-bottom: 32px;
    display: flex;
}

.common-buttons-container {
    display: flex;
    
    align-items: center;
}

.hero-buttons-container {
    display: flex;
    justify-content: flex-start;
    gap: 14px;
}

.hero-buy-btn {
    color: #fff;
    background-color: #fd9222;
    border: none;
    border-radius: 100px;
    padding: 14px 40px;
    /*width: 150px;
    height: 45px;*/
}

.hero-made-btn {
    color: #fff;
    border: 1px solid #fff;
    background: transparent;
    /*width: 185px;
    height: 45px; */
    border-radius: 100px;
    padding: 14px 40px;
    font-weight: 600;
    
}
.scroll-container {
    display: flex;
    align-items: center;
    gap: 14px;
    width: 130px;
    height: 38px;
    margin-left: auto;
}

.scroll-container:hover {
    color: #fd9222;
}
.hero-scroll {
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: #fff;
}

.hero-scroll:hover {
    color: #fd9222;
}

.hero-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    width: 38px;
    height: 38px;
    fill: #FD9222
} /*! не работает*/

.hero-icon:hover {
    background-color: #fd9222;
    fill: #fff;
} /*! не работает ховер*/

/*----------FEATURES-----------*/

.features-container {
    background-color: #1e1823;
    color: #fff;
    padding-top: 60px;
        padding-bottom: 60px;
}

.features-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    margin-bottom: 22px;
    fill: #FD9222;
    border: 2px solid #D9D9D9;
    border-radius: 50%;
}

.features-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 50px;
    gap: 70px;
}

.features-item {
    width: calc((100% - 2 * 88px) / 3);

}

.features-subtitle {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 18px;
}

.features-text {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02;
    color: rgba(255, 255, 255, 0.7);
}

/*--------TASTE------------*/

.taste {
    background-color: #fff;
    padding-top: 60px;
        padding-bottom: 60px;
}
.taste-container {


}
.taste-title {
    max-width: 412px;
    margin: 0 auto;
    margin-bottom: 28px;
}

.taste span{
    color: #fd9222;
}

.taste-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: #111;
    margin: 0 auto;
    max-width: 486px;
    margin-bottom: 50px;
}

.taste-list {
    display: flex;
    gap: 32px;
    margin: 0 32px;
}

.taste-item {
    border: 1px solid #fd9222;
    border-radius: 15px;
    padding: 28px 23px;
    width: calc((100% - 32px * 3) / 4);
}

.taste-image {
    border-radius: 15px;
    margin-bottom: 36px;
    /*width: 270px;
    height: 270px;*/
}

.taste-subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111;
    padding-left: 5px;
}

/*---------MADE------------*/

.made {
    color: #111;
    padding-top: 60px;
    padding-bottom: 60px;
}

.made-title {
margin-bottom: 50px;
}

.title span {
    color: #fd9222;
}

.made-content {
    display: flex;
    gap: 20px;
    background-color: #fff;
}

.made-image {
    border-radius: 15px;
    width: 600px;
    height: 400px;
}

.made-text {

}
.made-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 28px;
}

.made-list {}

.made-item {
    margin-bottom: 24px;
    position: relative;
    padding-left: 16px;
}

.made-item:last-child {
    margin-bottom: 0;
}

.made-item::before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #4c4c4c;
    border: 1px solid #ECEDED;
    position: absolute;
    left: 0;
    top: 8px;
}

.made-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

/*---------PRODUCTS------------*/

.products {
    padding-top: 60px;
        padding-bottom: 60px;
}

.products-title {

}

.products-title span {
color: #fd9222;
}

.products-list {}

.products-item {}

.products-image {}

.products-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.products-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
}

.products-bnt {
    font-weight: 600;
    border: 1px solid;
    padding: 20px;
    width: 94px;
    height: 33px;
    text-align: center;
}

/*---------SELLERS------------*/

.sellers {
    padding-top: 60px;
    padding-bottom: 60px;

}

.sellers-title {
    margin-bottom: 50px;

}

.sellers-title span {
    color: #fd9222;
}

.sellers-list {
    display: flex;
    gap: 16px;
    margin-bottom: 32px;
}

.sellers-item {
    width: calc((100% - 32px) / 3);
    position: relative;
    overflow: hidden;
}
.sellers-item:hover .sellers-cover{
    transform: translateY(0);
    cursor: pointer;
}

.sellers-content {
    border: 2px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    overflow: hidden; 
    text-align: center;
}

.sellers-image {
width: 100%;
display: block;
border-radius: 0 0 15px 15px;
}

.sellers-subtitle {
    text-transform: uppercase;
    font-weight: 600;
    font-style: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    padding: 28px 0;
    color: #111;
}


.sellers-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        161deg,
        rgba(253, 253, 255, 0.1) 0%, 
        rgba(8, 2, 21, 0.1) 100%);
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 0 40px;
    transform: translateY(100%);
    transition: transform 500ms ease;
}

.sellers-cover-text {
    position: absolute;
    text-align: center;
    top: 60px;
    left: 30px;
    max-width: 300px;
    color: #fafafa;
    line-height: 2;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-size: 18px;
}

.sellers-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 76px;
    bottom: 15px;
    border: 1px solid;
    width: 215px;
    height: 50px;
    background-color: #fd9222;
    font-size: 18px;
    color: #fff;

}

/*----------LOVED-----------*/

.loved {
    padding-top: 60px;
        padding-bottom: 60px;
}

.loved-title {}

.loved-title span{
    color: #fd9222;
    width: 200px;
    height: 122px;
}

.title {}

.loved-list {}

.loved-item {}

.loved-image {
    border-radius: 100%;
}

.loved-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
}

.loved-text {
    line-height: 1.29;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
}

.loved-bnt {
    font-weight: 600;
    font-size: 18px;
    border: 1px solid #fd9222;
    border-radius: 100px;
    padding: 14px 40px;
    width: 222px;
    height: 50px;
}

/*----------EXPLORE-----------*/

.explore-section {

    background-image: url(/images/chocolate-explore.jpg);
    color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
}

.explore-wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin: 0 auto;
    width: 467px;
    height: 226px;
}


.explore-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    width: 378px;
    height: 56px;
}

.explore-text {
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
}

.explore-btn {
    border: 1px solid #fd9222;
    width: 172px;
    height: 50px;
    background-color: #fd9222;
    font-size: 18px;
    color: #fff;
}

/*----------FOOTER-----------*/

.footer {
    padding: 50px 32px;
    background-color: #1e1823;
    color: #fff;
}

.footer-top {
    display: flex;
    align-items: center;
    margin-bottom: 38px;
}

.footer-social {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 63px;
}

.footer-text {
    max-width: 300px;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.02em;
}

.footer-text span{
    color: #fd9222;
}

.footer-subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: start;
    margin-bottom: 14px;
}

.footer-address-list {
    line-height: 1.29;
}

.footer-address-item {
    font-style: normal;
}

.footer-address-link {
    color: #fff;
}

.footer-social-contact{
    
}

.footer-social-list {
    display: inline-flex;
    gap: 18px;
    font-weight: 500;
    color: #fff;
    width: 66px;
        height: 24px;
        margin-bottom: 44px;
}

.footer-social-item {

}

.footer-social-link {
}

.footer-social-icon {
    fill: transparent;
    stroke: #fff;
    width: 24px;
    height: 24px;
}

.footer-nav {
    margin-top: 24px;
}

.footer-nav-list {
    display: flex;
    gap: 24px;
}

.footer-nav-item {}

.footer-nav-link {
    color: #fff;
}

/*----------MODAL----------*/

.backdrop {
    position: fixed;
    top: 0;
    background-color: rgba(30, 24, 35, 0.5);
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 517px;
    min-height: 794px;
    padding: 40px;
    background-color: #fafafa;
    border-radius: 15px;
    transform: translate(-50%, -50%);
}

.modal-close {
    position: absolute;
    right: 24px;
    top: 24px;
    fill: #111;
    border-color: transparent;
    background-color: transparent;
    padding: 0;
}

.modal-title {
    margin-top: 45px;
    text-align: left;
    max-width: 298px;
    margin-bottom: 40px;
}

.modal-input {
    width: 100%;
    height: 68px;
    margin-bottom: 18px;
    border-radius: 13px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    padding: 22px 24px;
    background-color: transparent;
}
.modal-input:hover,
.modal-input:focus {
    border-color: #FD9222;
}

.modal-input::placeholder {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
}

.modal-input:hover::placeholder,
.modal-input:focus::placeholder {
    color: #FD9222;
}

.modal-textarea {
    width: 437px;
    height: 137px;
    border-radius: 13px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    background-color: transparent;
    margin-bottom: 18px;
    resize: none;
    padding: 22px 24px;
    font-size: 16px;
    box-sizing: border-box;
}

.modal-textarea:hover,
.modal-textarea:focus {
    border-color: #FD9222;
}

.modal-textarea::placeholder {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
    
}

.modal-textarea:hover::placeholder,
.modal-textarea:focus::placeholder {
    color: #FD9222;
}


.modal-check:checked + .check-text span{
    background-color: #FD9222;
}

.check-text {
    display: flex;
    align-items: center;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.6);
}

.check-text span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: 1px solid rgba(17, 17, 17, 0.14);
}

.modal-check-icon {
    fill: #fafafa;
}

.check-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #FD9222;
}

.modal-button-send {
    background-color: #FD9222;
    color: #fff;
    border-color: transparent;
    padding: 14px 40px;
    width: 117px;
    height: 45px;
    border-radius: 100px;
    margin-top: 20px;
}