button {
    cursor: pointer;
    border-radius: 100px;
    font-weight: 600;
    font-size: 14px;
    padding: 14px 40px;
}

.menu-open-btn {
    border-color: transparent;
    margin-left: 60px;
    padding: 0;
    display: block;
    stroke: #111;
}