.explore-section {

    background-image: url(/images/chocolate-explore.jpg);
    color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
}

.explore-wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin: 0 auto;
    width: 467px;
    height: 226px;
}


.explore-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    width: 378px;
    height: 56px;
}

.explore-text {
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
}

.explore-btn {
    border: 1px solid #fd9222;
    width: 172px;
    height: 50px;
    background-color: #fd9222;
    font-size: 18px;
    color: #fff;
}