.products {
    padding-top: 60px;
    padding-bottom: 60px;
}

.products-title {
    margin-bottom: 50px;
}

.products-title span {
    color: #fd9222;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}

.products-item {
    width: 100%;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    background-color: #fff;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.products-image {
    margin: 0 auto;
    margin-bottom: 8px;
}

.products-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111;
    margin-bottom: 2px;

}

.products-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
    margin-bottom: 18px;
}

.products-bnt {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    color: #111;
    border: 1px solid rgba(17, 17, 17, 0.1);
    padding: 20px;
    width: 104px;
    height: 33px;
}

/*-------TABLET VERSION------*/


/* PRODUCTS media */
.products-list {
    gap: 16px;
}

.products-item {
    width: calc((100% - 32px) / 2);
}