.title {
    font-weight: 600;
    /*font-size: 24px;*/
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
}

.title span {
    color: #fd9222;
}