.sellers {
    padding-top: 60px;
    padding-bottom: 60px;
}

.sellers-title {
    margin-bottom: 50px;
}

.sellers-title span {
    color: #fd9222;
}

.sellers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 32px;
}

.sellers-item {
    /*width: calc((100% - 32px) / 3);*/
    position: relative;
    overflow: hidden;
}

.sellers-item:hover .sellers-cover {
    transform: translateY(0);
    cursor: pointer;
}

.sellers-content {
    border: 2px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
}

.sellers-image {
    width: 100%;
    display: block;
    border-radius: 0 0 15px 15px;
}

.sellers-subtitle {
    text-transform: uppercase;
    font-weight: 600;
    font-style: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    padding: 28px 0;
    color: #111;
}


.sellers-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 100%;
    background: linear-gradient(
        161deg,
        rgba(253, 253, 255, 0.1) 0%, 
        rgba(8, 2, 21, 0.1) 100%);
    display: flex;
    align-items: center;*/
    border-radius: 15px;
    padding: 0 40px;
    transform: translateY(100%);
    transition: transform 500ms ease;
}

.sellers-cover-text {
    text-align: left;
    top: 120px;
    left: 20px;
    padding-right: 20px;
    max-width: 300px;
    color: #fafafa;
    line-height: 1.5;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-size: 16px;
    backdrop-filter: blur(15px);
    background: linear-gradient(161deg,
            rgba(253, 253, 255, 0.1) 0%,
            rgba(8, 2, 21, 0.1) 100%);
    height: 100%;
    display: flex;
    align-items: center;
    transform: translaterY(100%);
    transition: transform 300ms, ease;
}

.sellers-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 76px;
    bottom: 15px;
    border: 1px solid;
    width: 215px;
    height: 50px;
    background-color: #fd9222;
    font-size: 18px;
    color: #fff;

}

/*-------TABLET VERSION------*/


/* SELLERS media */

.sellers-list {
    gap: 16px;
}

.sellers-cover-text {
    top: 140px;
    left: 20px;
    padding-left: 20px;
    font-size: 16px;
}

.sellers-item {
    width: calc((100% - 16px) / 2);
}

.sellers-subtitle {
    font-size: 18px;
}